# Dependências
/node_modules
/package-lock.json
/yarn.lock

# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de Runtime
/pids
*.pid
*.seed
*.pid.lock

# Diretório de Build
/build

# Diretórios de ambiente de desenvolvimento
/.pnp
.pnp.js

# Arquivos de cache
/.cache
.yarn/cache

# Ferramentas de editor
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# OS arquivos
.DS_Store
Thumbs.db

# Arquivos de teste
/coverage
/.nyc_output

# Arquivos de produção
/dist

# Arquivos temporários
/tmp
/temp
